{% extends 'main.html' %}

{% block layout %}

<section id="top-hero-banner" class="hero is-black is-fullheight">
    <div id="navbar-id" class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{{url_for('index')}}">
                        <div class="title">
                            <span class="icon">
                                <i class="fa fa-arrow-circle-right"></i>
                            </span>
                            <span>Seamlessly</span>
                        </div>
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <span class="navbar-item">
                            <a class="is-white" href="{{url_for('index')}}">
                                <span class="icon">
                                    <i class="fa fa-home"></i>
                                </span>
                                <span>Home</span>
                            </a>
                        </span>

                        <span class="navbar-item">
                            <a class="is-white" href="{{url_for('guide')}}">
                                <span class="icon">
                                    <i class="fa fa-book"></i>
                                </span>
                                <span>Guide</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    {% block hero_body %}{% endblock %}

</section>

{% block body %}{% endblock %}

{% endblock %}
