@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
    /* background: ; */
    background-repeat: repeat;
    background-size: 100px;
    min-height: 100vh;
    background: #f5f5f5;
}


#signature > a {
  font-size: 0.8em;
}

/* ------------------------------------------------
REMOVES ARROWS FROM NUMBER INPUT FIELDS */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* ------------------------------------------------ */


#code-preview {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  font-size: 105%;
}


#hero-banner {
  /* background-size: 100%, 1000px !important; */
  animation: zoomOut 50s infinite alternate;
}

@keyframes zoomOut {
  from {
    background-size: 100%, 1000px;
  }
  to {
    background-size: 100%, 100px;
  }
}