{% extends 'layouts/hero_banner_full_height.html' %}

{% block hero_body %}
<div class="hero-body">
    <div class="container has-text-left">
        <div class="column is-6 is-offset-3">
            <h1 class="title is-size-1">
                Manage Upload Cache
            </h1>
            <div>
                <p class="subtitle">
                    Use this page to get a birds-eye view of all files that have been uploaded to the cache, and to optionally trigger a full cache purge and reset.
                </p>
            </div>
            <form class="mt-6" action="#" method="post">
                <a href="#view_cache" class="button is-primary">View Cache</a>
                <input class="button is-danger mb-4" name="purge-button" type="submit" value="Purge Cache">
                <label class="label has-text-danger" for="purge-button">Warning 'Purge Cache' completely wipes all uploaded files in the Cache.</label>
            </form>
        </div>
    </div>
</div>
<hr class="mb-0" style="height: 10px; background: linear-gradient(300deg, rgb(0, 255, 115), rgb(0, 92, 128));">
{% endblock %}

{% block body %}
<section id="view_cache" class="hero is-light">
    <div class="hero-body">
        <div class="container has-text-left mb-4">
          <p class="title">
            Current files in cache
          </p>
          <p class="subtitle">
            These are files that have been uploaded to the user_files directory. Most recent uploads are displayed first.
          </p>
          <hr style="background: grey">
        </div>
        <div class="container">
            {% for folder in sorted_directory %}
                <div class="mt-3 box">
                    <div class="title is-size-4 mb-2">
                        <span class="icon" style="color: black;">
                            <i class="fa fa-folder"></i>
                        </span>
                        <span>user_files/{{folder}}/</span>
                    </div>
                    {% for file in user_files[folder] %}
                        <div class="ml-3">
                            <span class="icon">
                                <i class="fa fa-file"></i>
                            </span>
                            <span>{{file}}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
      </div>
</section>
{% endblock %}