<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{{url_for('static', filename='images/favicon-32x32.png')}}" type="image/x-icon">
    {% block head %}{% endblock %}
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="flashed_message_container" class="p-3" style="position: absolute; width: 100vw; z-index: 100;">
                <article class="message is-danger" style="max-width: 500px; margin: 0 auto;">
                    <div class="message-header">
                        <p>Error</p>
                        <button class="delete" aria-label="delete" onclick="document.getElementById('flashed_message_container').style.display = 'None'"></button>
                    </div>
                    <div class="message-body">
                        <ul class=flashes>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </article>
            </div>
        {% endif %}
    {% endwith %}
    {% block layout %}{% endblock %}
</body>
</html>